In [39]:
import pandas as pd
from sklearn.model_selection import train_test_split, KFold, LeaveOneOut
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score, mean_squared_error
from sklearn.preprocessing import LabelEncoder
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import LinearSVC
import numpy as np

In [41]:
import os

directory_path = "/Users/sukruthrao/CMSE381-Project/Freiwald_Tsao_faceviews_AM_data_csv"
file_list = os.listdir(directory_path)

data_list = []

count = 0
for file_name in file_list:
    file_path = os.path.join(directory_path, file_name)
    if ".csv" in file_path:
        data_temp = pd.read_csv(file_path)
        data_list.append(data_temp)
    count += 1

    if count == 1:
        break
data = pd.concat(data_list)
data

,site_info.monkey,site_info.region,labels.stimID,labels.person,labels.orientation,labels.orient_person_combo,time.1_2,time.2_3,time.3_4,time.4_5,...,time.791_792,time.792_793,time.793_794,time.794_795,time.795_796,time.796_797,time.797_798,time.798_799,time.799_800,time.800_801
0,bert,am,1,1,front,front 1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,bert,am,1,1,front,front 1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,bert,am,1,1,front,front 1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,bert,am,1,1,front,front 1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,bert,am,1,1,front,front 1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,bert,am,200,25,back,back 25,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1596,bert,am,200,25,back,back 25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1597,bert,am,200,25,back,back 25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1598,bert,am,200,25,back,back 25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1599,bert,am,200,25,back,back 25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [43]:
data = data.iloc[:, :405]
data = data.drop(['site_info.region'], axis=1)

In [45]:
time_data = data.iloc[:, 5:]

count_200 = []
count_400 = []
for i, row in data.iterrows():
    count_200.append((row.iloc[5: 205] == 1).sum())
    count_400.append((row.iloc[205:] == 1).sum())

In [46]:
total_count = np.array(count_200) + np.array(count_400)
data['count_200'] = count_200
data['count_400'] = count_400
data['total_activations'] = total_count

data.head()

,site_info.monkey,labels.stimID,labels.person,labels.orientation,labels.orient_person_combo,time.1_2,time.2_3,time.3_4,time.4_5,time.5_6,...,time.393_394,time.394_395,time.395_396,time.396_397,time.397_398,time.398_399,time.399_400,count_200,count_400,total_activations
0,bert,1,1,front,front 1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,bert,1,1,front,front 1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,bert,1,1,front,front 1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,bert,1,1,front,front 1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,bert,1,1,front,front 1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
time_cols = list(data.columns)[5:]

first_activations = []
for i, row in data.iterrows():
    first_act_col = None
    for col in time_cols:
        if row[col] == 1:
            first_act_col = col
            break
        else:
            first_act_col = 'None'
    first_activations.append(first_act_col)

data['first_activation_time_frame'] = first_activations

data.tail()

,site_info.monkey,labels.stimID,labels.person,labels.orientation,labels.orient_person_combo,time.1_2,time.2_3,time.3_4,time.4_5,time.5_6,...,time.394_395,time.395_396,time.396_397,time.397_398,time.398_399,time.399_400,count_200,count_400,total_activations,first_activation_time_frame
1595,bert,200,25,back,back 25,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,time.2_3
1596,bert,200,25,back,back 25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
1597,bert,200,25,back,back 25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
1598,bert,200,25,back,back 25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None
1599,bert,200,25,back,back 25,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,None

In [51]:
label_encoder = LabelEncoder()
data = data.apply(label_encoder.fit_transform)
data

,site_info.monkey,labels.stimID,labels.person,labels.orientation,labels.orient_person_combo,time.1_2,time.2_3,time.3_4,time.4_5,time.5_6,...,time.394_395,time.395_396,time.396_397,time.397_398,time.398_399,time.399_400,count_200,count_400,total_activations,first_activation_time_frame
0,0,0,0,2,50,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,2,50,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,59
2,0,0,0,2,50,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,215
3,0,0,0,2,50,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,68
4,0,0,0,2,50,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,0,199,24,0,17,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,178
1596,0,199,24,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1597,0,199,24,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1598,0,199,24,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1599,0,199,24,0,17,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [53]:
y = data['labels.person']
X = data.drop(['labels.person'], axis=1)

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=11)

### unsure if the issue is with the number of iterations...
logreg = LogisticRegression(max_iter=1000) 
logreg.fit(X_train, y_train)

Y_pred = logreg.predict(X_test)
err = 1 - accuracy_score(y_test, Y_pred)
print(f'Error rate: {err*100:.2f}%')

Error rate: 84.06%

/opt/anaconda3/lib/python3.12/site-packages/sklearn/linear_model/_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [57]:

def perform_KFold(model, X_values, y_values):
    # X_values = X.values
    # y_values = y.values

    best_accuracy = -float('inf')
    best_mse = float('inf')
    
    optimal_k = None  
    mse_lst = []
    accuracy_lst = []
    

    for i in range(2, 15):  
        kf = KFold(n_splits=i, shuffle=True, random_state=20)
        mses = []
        accs = []  

        for train_idx, test_idx in kf.split(X_values):
            X_train, X_test, y_train, y_test = X_values[train_idx], X_values[test_idx], y_values[train_idx], y_values[test_idx]
            model.fit(X_train, y_train)

            y_hat = model.predict(X_test)
            
            mse = mean_squared_error(y_test, y_hat)
            mses.append(mse)

            # accuracy = accuracy_score(y_test, y_hat)
            # accs.append(accuracy)

        avg_mse = np.mean(mses)
        mse_lst.append(avg_mse)

        # avg_accuracy = np.mean(accs)
        # accuracy_lst.append(avg_accuracy)
        
        if avg_mse < best_mse:
            best_mse = avg_mse
            optimal_k = i  
    return best_mse, optimal_k

In [72]:
model = LogisticRegression(max_iter=100)

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)
best_mse, optimal_k = perform_KFold(model, X_scaled, y.values)
print("Best MSE:", best_mse)
print("Optimal K (number of splits):", optimal_k)

Best MSE: 81.72592764683243
Optimal K (number of splits): 6

In [82]:
scores = {}
for i in range(1, 50):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train, y_train)
    scores[f'{i} neighbors'] = accuracy_score(knn.predict(X_test), y_test)

scores

{'1 neighbors': 0.728125,
 '2 neighbors': 0.715625,
 '3 neighbors': 0.69375,
 '4 neighbors': 0.659375,
 '5 neighbors': 0.625,
 '6 neighbors': 0.596875,
 '7 neighbors': 0.5375,
 '8 neighbors': 0.509375,
 '9 neighbors': 0.4625,
 '10 neighbors': 0.421875,
 '11 neighbors': 0.4,
 '12 neighbors': 0.3625,
 '13 neighbors': 0.33125,
 '14 neighbors': 0.303125,
 '15 neighbors': 0.275,
 '16 neighbors': 0.24375,
 '17 neighbors': 0.246875,
 '18 neighbors': 0.215625,
 '19 neighbors': 0.1875,
 '20 neighbors': 0.18125,
 '21 neighbors': 0.159375,
 '22 neighbors': 0.15625,
 '23 neighbors': 0.1625,
 '24 neighbors': 0.153125,
 '25 neighbors': 0.14375,
 '26 neighbors': 0.140625,
 '27 neighbors': 0.13125,
 '28 neighbors': 0.121875,
 '29 neighbors': 0.115625,
 '30 neighbors': 0.115625,
 '31 neighbors': 0.109375,
 '32 neighbors': 0.1125,
 '33 neighbors': 0.10625,
 '34 neighbors': 0.10625,
 '35 neighbors': 0.10625,
 '36 neighbors': 0.103125,
 '37 neighbors': 0.103125,
 '38 neighbors': 0.1,
 '39 neighbors': 0.09375,
 '40 neighbors': 0.090625,
 '41 neighbors': 0.09375,
 '42 neighbors': 0.0875,
 '43 neighbors': 0.08125,
 '44 neighbors': 0.08125,
 '45 neighbors': 0.075,
 '46 neighbors': 0.075,
 '47 neighbors': 0.071875,
 '48 neighbors': 0.075,
 '49 neighbors': 0.071875}

In [70]:
model = KNeighborsClassifier(n_neighbors=1)
best_mse, optimal_k = perform_KFold(model, X.values, y.values)
print("Best MSE:", best_mse)
print("Optimal K (number of splits):", optimal_k)

Best MSE: 7.13825172991184
Optimal K (number of splits): 13